:root {
    --cor-fundo: rgb(246, 0, 0);
    --cor-principal:rgb(0, 255, 4);
    --cor-secundaria:rgb(165, 207, 255);
    --cor-edstaque:#fbff00;
    --cor-texto:rgb(175, 20, 162);
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    text-align:center;
    padding: 20px;
}

h1{
    color: var(--cor-edstaque);
}